*, *:before, *:after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
body{
    height: 100%;
    background:rgb(255, 249, 217);
    
}

.container{
    max-width: 1180px;
    margin : 0px auto;
    padding: 0px 10px;
}

.header{
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 3; 
}


header:before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
    background-color: rgb(138, 66, 2);
}
.Full_header_menu{
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    height: 75px;
}
.Logo{
    z-index: 3;
    color: wheat;
}

.header_list a{
    text-decoration: none;
    color: wheat;
    z-index: 3;
}
.header_list :hover{
    color: rgb(255, 60, 86);
}
.header_list{
    display: flex;
    text-transform: uppercase;
    font-size: 18px;
    list-style: none;
    margin: 0px 0px -26px 25px;
    z-index: 3;
    
}

.arrow_button{
    padding-bottom: 25px;
    scale: 3;
    transition: all 0.47s ease;
}
.arrow_button.active{
    padding-bottom: 12px;
    transform: rotate(180deg);
    transition: all 0.47s ease;
    
}

.biz_turaly{
    position: fixed;
    top: -200%;
    width: 100%;
    height: 100%;
    transition: all 0.67s ease;
}

.biz_turaly.active{
    transition: all 0.67s ease;
    top: 0%;
    background-color: rgb(227, 192, 123);
    z-index: 2;
    overflow: auto;
}
.maqsaty{
    text-align: left;
    max-width: 93%;
    width: auto;
    height: auto;
    position: relative;
    font-size: 22px;
    color: rgb(92, 54, 0);
    padding-top: 100px;
    padding-left: 7%;
}
.ozeqtilik{
    text-align: left;
    max-width: 93%;
    width: auto;
    height: auto;
    position: relative;
    font-size: 22px;
    color: rgb(92, 54, 0);
    padding-top: 20px;
    padding-left: 7%;
}
.contacts{
    text-align: left;
    max-width: 93%;
    width: auto;
    height: auto;
    position: relative;
    font-size: 22px;
    color: rgb(92, 54, 0);
    padding-top: 20px;
    padding-left: 7%;
}

.header_list li{
    list-style: none;
    margin: 0px 0px 0px 25px;
    z-index: 3;
    color: wheat;
}

.content{
    padding-top: 100px;
}

@media (max-width:767px)
{
    .Logo{
        font-size: 9px;
    }
    body.lock{
        overflow: hidden;
    }
    .Full_header_menu{
        height: 50px;
    }
    .header_burger{ 
        display:block;
        position: relative;
        width: 25px;
        height: 15px;
        z-index: 3;
    }
    .header_burger span{
        position: absolute;
        background-color: aliceblue;
        left: 0;
        width: 100%;
        height: 2px;
        top:7px;
        transition: all 0.3s ease 0s;
    }
    
    .header_burger:before,
    .header_burger:after{
        content: '';
        position: absolute;
        background-color: aliceblue;
        left: 0; 
        width: 100%;
        height: 2px;
        
        transition: all 0.35s ease 0s;
    }

    .header_burger:before{
        top: 0;
        transition: all 0.35s ease 0s;
    }
    .header_burger:after{
        bottom: 0;
        transition: all 0.35s ease 0s;
    }

    .header_burger.active:before{
        transform:rotate(45deg);
        top: 7px;
        transition: all 0.35s ease 0s;
    }
    .header_burger.active::after{
        transform:rotate(-45deg);
        bottom: 7px;
        transition: all 0.35s ease 0s;
    }
    .header_burger.active span{
        transform:scale(0);
        transition: all 0.35s ease 0s;
    }
    
    .Side_menu{
        position: fixed;
        top:-100%;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(236, 160, 66);
        padding: 70px 10px 20px 10px;
        transition: all 0.3s ease 0s;
    }
    .Side_menu.active{
        top: -85%;
        transition: all 0.35s ease 0s;
    }
    .header_list{
        display: flex;
        position: relative;
        margin-top: 158%;
    }

    .biz_turaly{
        padding-top: 30px;
    }
    
    .content{
        padding-top: 80px;
    }

}

.magazine_wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    gap: 30px 30px;
    justify-content: center;
}

.magazine{
    background-color: rgb(255, 214, 164);
    width: 400px;
    height: auto;
    border-radius: 20px;
    padding: 10px;
}
.magazine_name {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    padding-top: 5px;
    width: 380px;
    height: 30px;
    border-top-left-radius:  15px;
    border-top-right-radius:  15px;
    background-color:rgb(244, 244, 244);
    text-align: center;
}
.magazine_img{
    width: 380px;
    height: 380px;
    border-bottom-left-radius:  20px;
    border-bottom-right-radius:  20px;
}

.magazine_description h2{
    background-color: rgb(255, 241, 220);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
}
.magazine_description p{
    background-color: rgb(255, 241, 220);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 19px;
    text-align: center;
}
.magazine_button_aiqap, 
.magazine_button_qazaq,
.magazine_button_qazaqstan,
.magazine_button_birlik,
.magazine_button_saryarqa,
.magazine_button_abai,
.magazine_button_zhasazamat,
.magazine_button_uran,
.magazine_button_uszhuz,
.magazine_button_tirshilik,
.magazine_button_turkistan,
.magazine_button_dala{
    margin-top: 15px; 
    width: 380px;
    height: 50px;
    border-radius: 15px;
    background-color: rgb(157, 156, 156); 
    font-size: 19px;
    text-align: center;
    padding: 15px;  
    transition: background-color 0.3s linear;

}
.btn{
    text-decoration: none;
    color: rgb(255, 255, 255);
    
}
.magazine_button_aiqap:hover, 
.magazine_button_qazaq:hover,
.magazine_button_qazaqstan:hover,
.magazine_button_birlik:hover,
.magazine_button_saryarqa:hover,
.magazine_button_abai:hover,
.magazine_button_zhasazamat:hover,
.magazine_button_uran:hover,
.magazine_button_uszhuz:hover,
.magazine_button_tirshilik:hover,
.magazine_button_turkistan:hover,
.magazine_button_dala:hover{
    background-color: rgb(216, 58, 58);
    cursor: pointer;
}

.pop_up_aiqap,
.pop_up_qazaq,
.pop_up_qazaqstan,
.pop_up_birlik,
.pop_up_saryarqa,
.pop_up_abai,
.pop_up_zhasazamat,
.pop_up_uran,
.pop_up_uszhuz,
.pop_up_tirshilik,
.pop_up_turkistan,
.pop_up_dala {
    padding-top: 15%;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    z-index: 3;
    background-color: rgba(0,0,0, 85%);
    justify-content: center;
    display:grid;
    grid-template-columns: 380px;
    overflow: auto;
    gap: 80px;
    transition: all 0.3s ease 0s;
}

.pop_up_img{
    position: relative;
    top:-10%;
    width: 100%;

}

.pop_up_aiqap.active,
.pop_up_qazaq.active,
.pop_up_qazaqstan.active,
.pop_up_birlik.active,
.pop_up_saryarqa.active,
.pop_up_abai.active,
.pop_up_zhasazamat.active,
.pop_up_uran.active,
.pop_up_uszhuz.active,
.pop_up_tirshilik.active,
.pop_up_turkistan.active,
.pop_up_dala.active{
    transition: all 0.3s ease 0s;
    top: 0%;
}

.pop_up_close_aiqap,
.pop_up_close_qazaq,
.pop_up_close_qazaqstan,
.pop_up_close_birlik,
.pop_up_close_saryarqa,
.pop_up_close_abai,
.pop_up_close_zhasazamat,
.pop_up_close_uran,
.pop_up_close_uszhuz,
.pop_up_close_tirshilik,
.pop_up_close_turkistan,
.pop_up_close_dala
{
    position: absolute;
    top: 30px;
    right: 10%;
    font-size: 21px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

body.lock{
    overflow: hidden;
}
